# ===============================
# DATASETS (DO NOT UPLOAD)
# ===============================
dataset/
augmented_dataset/
data/

# ===============================
# TRAINED MODELS & ARTIFACTS
# ===============================
models/
models_improved/
*.h5
*.pkl
*.keras

# ===============================
# FLASK UPLOADS
# ===============================
static/uploads/

# ===============================
# PYTHON CACHE
# ===============================
__pycache__/
*.pyc
.ipynb_checkpoints/

# ===============================
# SYSTEM FILES
# ===============================
.DS_Store
.env

# ===============================
# LOGS
# ===============================
*.log
